*.docx
*.pdf
/DEWS/Projectos/nbproject/private/
/DEWS/2eva/Servlets/01_EjerciciosIntroduccionServlets/nbproject/private/
/DEWS/2eva/Servlets/01_EjerciciosIntroduccionServlets/build/
/DEWS/2eva/Servlets/Ejer1_JSP/nbproject/private/
/DEWS/2eva/Servlets/Ejer1_JSP/build/
/DEWS/2eva/Servlets/01Libreria/nbproject/private/
/DEWS/2eva/Servlets/01Libreria/build/
/DEWS/2eva/Servlets/01Libreria/dist/
