*.docx
*.pdf
/DEWS/Projectos/nbproject/private/
/DEWS/2eva/Servlets/01_EjerciciosIntroduccionServlets/nbproject/private/
/DEWS/2eva/Servlets/01_EjerciciosIntroduccionServlets/build/
/DEWS/2eva/Servlets/Ejer1_JSP/nbproject/private/
/DEWS/2eva/Servlets/Ejer1_JSP/build/
/DEWS/2eva/Servlets/01Libreria/nbproject/private/
/DEWS/2eva/Servlets/01Libreria/build/
/DEWS/2eva/Servlets/01Libreria/dist/
/DEWS/2eva/Servlets/Examen2Eva/nbproject/private/
/DEWS/2eva/Servlets/Examen2Eva/build/
/DEWS/2eva/01Libreria_01/nbproject/private/
/DEWS/2eva/01Libreria_01/build/
/DEWS/2eva/Servlets/ExamenFinal1_Iker_Méndez/nbproject/private/
/DEWS/2eva/Servlets/ExamenFinal1_Iker_Méndez/build/
/DEWS/2eva/Servlets/ExamenJava/nbproject/private/
/DEWS/2eva/Servlets/ExamenJava/build/
/DEWS/2eva/Servlets/ExamenJava/dist/
/DEWS/2eva/Servlets/ExamenJavaIker/nbproject/private/
/DEWS/2eva/Servlets/ExamenJavaIker/dist/
/DEWS/2eva/Servlets/ExamenJavaIker/build/
/DEWS/2eva/Servlets/ordinaria_dews_jorge_blanco/Ordinario/build/
/DEWS/2eva/Servlets/ordinaria_dews_jorge_blanco/Ordinario/nbproject/private/
