* {
    margin:0px;
    padding:0px;
}

body{
    background-color: #366;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav {
    width:100%;
    margin:0 auto;
}

.nav > li {
    width:150px;
    margin:2px;
    float:left;
}

.nav li a {
    background-color:#399;
    color:#fff;
    border:1px solid white;
    text-decoration:none;
    text-align: center;
    padding:8px;
    display:block;
}

.nav li a:hover {
    background-color:turquoise;
}

.nav li ul {
    display:none;
    position:absolute;
    width:150px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-150px;
    top:0px;
}