div.recuadro1{
	column-count: 3;
	background-color:rgba(191, 191, 191, 0.5);
	border-radius: 1rem;
	margin:1rem;
	padding:1rem;
	column-rule-style: solid;
	column-rule-color: rgba(255, 0, 0, 0.5);;
}
div.recuadro2{
	column-count: 3;
	background-color:rgba(191, 191, 191, 0.5);
	border-radius: 1rem;
	margin:1rem;
	padding:1rem;
	column-rule-style: dotted;
	column-rule-color: red;
}
div.recuadro3{
	column-count: 3;
	background-color:rgba(191, 191, 191, 0.5);
	border-radius: 1rem;
	margin:1rem;
	padding:1rem;
	column-rule-style: dashed;
	column-rule-color: blue;
}
