*  {
	box-sizing: border-box;
}

.contenedor {
	width: 35%;
	margin: 0 auto;
	padding: 0;
    display: flex;
    gap:5rem;
}

.contenedor > * {
	display: inline-block;
	width: 47%;
}


.recuadro1 {
	background-color: gainsboro;
	padding: .5rem;
    border-radius: 2rem;
    box-shadow: 5px 10px 18px #888888;

}

.recuadro2 {

	background-color: #c6ce00;
	padding: .5rem;
	border-radius: 2rem;
    box-shadow: -5px -10px 18px #888888;
}