*{
	text-align: center;
}
.titulo1 {
    text-shadow: 3px 3px 2px gray;
}

.titulo2 {
    text-shadow: -3px -3px 2px gray;
}


.titulo3 {
    text-shadow: 1.5px 1.5px 2px red, 3.5px 3.5px 2px green, 5px 5px 2px blue;
}