* {
	font: 1.5m Verdana, Arial, sans-serif; 
}

p.especial {
    background-color: gainsboro;
    font-size: 1.2em;
}

p.especial::first-line {
    color: blue;
    background-color: lightblue;
    text-transform: uppercase;
}

p.especial::first-letter {
    font-weight: bold;
    font-size: 1.5em;
}

p.especial em {
    font-weight: 700;
}

p.especial strong {
    background-color: #FF6;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    font-style: italic;
}