h1{ 
    text-align: center;
    text-transform: uppercase;
}

h1 > span {
    color:red;
    text-decoration: underline;
    font-size: 1.5em;
    border:none;
}
span{ 
    font-size: 2em;
    font-weight: bold;
    border: thick solid black;
    margin: 12px 0px;
    padding: 20px;
}
div{
    height: 200px;
    border: thick solid black;
    background-color: lightblue;
    padding: 40px;
    position: relative;
}
.caja1{
    background-color:red;
}
.caja2{
    background-color: blue;
    position: absolute;
    top:80px;
    left: 150px;
   
}
.caja3{
    background-color: green;
}
.caja4{
   background-color:yellow; 
}
