body {
	display: grid;
    text-align: center;
}

header {
	grid-area: header;
	background-color: seagreen;
    color: white;
    padding: 10px;
}

.container1 {
	grid-area: container1;
	background-color: mediumseagreen;
	height: 300px;
}

.container2 {
	grid-area: container2;
	background-color: mediumaquamarine;
	height: 300px;
}

.container3{
	grid-area: container3;
	background-color: aquamarine;
	height: 300px;
}

@media screen and (max-width: 600px){
	body {
		grid-template-areas: 
		"header header"
		"container1 container1"
		"container2 container2"
		"container3 container3";
	}
}

@media screen and (min-width: 600px) and (max-width: 900px){
	body {
		grid-template-areas: 
		"header header"
		"container1 container1"
		"container2 container3";
	}
}

@media screen and (min-width: 900px){
	body {
		grid-template-areas: 
		"header header"
		"container1 container1"
		"container2 container3";
	}

}
